{% extends 'base.html' %}

{% load static %}

{% block content %}

<h2>Folha de Pagamento</h2>

<form method="get" id="filtroForm">

    <div>
        {{ form.as_p }}
    </div>

    <button type="submit">Filtrar</button>

</form>

<div id="folhaChart"></div>

<script id="competencias" type="application/json">{{ competencias|safe }}</script>
<script id="totais" type="application/json">{{ totais|safe }}</script>

{% endblock content %}

{% block scripts %}

{{ block.super }}

<script src="{% static 'js/folha_pagamento.js' %}"></script>

{% endblock scripts %}